<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You for Subscribing</title>
    <link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon">
</head>
<style>
body {
  padding:0%;
  font-family: sans-serif;
  background: linear-gradient(#1a2840, #325277);
}
#info{
    color: white;
    margin:55px 0px 0px 550px ;
}
#footer{
    color: white;
    margin-left: 490px;
}
#img{
  opacity: 30%;
  margin: 0px 0px 0px 380px;
}
</style>
<body>
    <h1 id="info">Thank You !!!</h1>
    <img id="img" src="/static/logo.png" alt="">
    <footer>
        <p id="footer">&copy;2022 Riddhesh Patil | All Rights Reserved</p>
    </footer>
</body>
</html>